/*formatting for Home page*/

/*font definition*/
@font-face {
  font-family: 'ElegantIcons';
  src:url('../fonts/ElegantIcons.eot');
  src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ElegantIcons.woff') format('woff'),
    url('../fonts/ElegantIcons.ttf') format('truetype'),
    url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*light sand background*/
div[class="row"] {
  background: rgba(253,242,217,0.7)
}


/*welcome text formatting*/
h1, h3, p {
  color: white;
  margin: 0;
}

h1 {
  padding: 30px 0 0;
  font-family: "bebasbold";
  font-size: 3em;
}

h3 {
  font-family: "bebasbook";
  font-size: 1.5em
}

p {
  font-family: "bebaslight";
  font-size: 1em;
  padding: 20px 0;
}

/*bigger fonts for bigger screen*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6em;
  }
  h3 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}

/*welcome box background*/
#welcomebox {
  background-image: url("../images/luzon-horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*specify aspect ratio h/w*/
#welcomebox:before {
    content: "";
    float: left;
    padding-bottom: 75%;
}
/*this is a clearfix. */
#welcomebox:after {
    content: "";
    display: table;
    clear: both;
}
/*solution from stackoverflow.com/questions/12121090 */


/*formatting for map in Home page*/

/*gray*/
.land { 
  fill: #CCCCCC;
  fill-opacity: 1;  
  stroke: #313130;
  stroke-opacity: 1;
  stroke-width:0.5;
}

/*orange*/
.land:hover {
  fill: #f3901b;
  fill-opacity: 1;
}

/*yellow*/
path[title="Batangas"],
path[title="Cebu"],
path[title="Leyte"],
path[title="Benguet"],
path[title="Cagayan"],
path[title="Albay"]  
{
  fill: #fae014;
}

/*red*/
path[title="Laguna"],
path[title="Masbate"],
path[title="Bataan"],
path[title="Ilocos Sur"],
path[title="Antique"]
{
  fill: #dc453a;
}

/*darkred*/
path[title="Bulacan"],
path[title="Bohol"],
path[title="Tarlac"],
path[title="Camarines Sur"] 
{
  fill: #b43a2a;
}

/*blue*/
path[title="Metropolitan Manila"],
path[title="Samar"],
path[title="Pangasinan"],
path[title="Mountain Province"],
path[title="Aklan"]
{
  fill: #4791b6;
}

/*darkblue*/
path[title="Quezon"],
path[title="Pampanga"],
path[title="Ilocos Norte"],
path[title="Sorsogon"],
path[title="Iloilo"]
{
  fill: #346faa;
}

/*purple*/
path[title="Cavite"],
path[title="Biliran"],
path[title="Zambales"],
path[title="Nueva Ecija"],
path[title="Capiz"]

{
  fill: #323781;
}

/*dark purple*/
path[title="Rizal"],
path[title="Palawan"],
path[title="La Union"],
path[title="Camarines Norte"] 
{
  fill: #2e2b5e;
}