/*formatting for itinerary subpage*/

html, body {
  overflow-x: hidden;
}

/*light sand background*/
div[class="row"] {
  background: rgba(253,242,217,0.7)
}

h3 {
  padding-bottom: 15px;
}

/*welcome text formatting*/
h1, h3, p {
  color: #777;
  margin: 0;
}

h1 {
  padding: 30px 0 0;
  font-family: "bebasbold";
  font-size: 3em;
}

h3 {
  font-family: "bebasbook";
  font-size: 1.5em
}

p {
  font-family: "bebaslight";
  font-size: 1em;
  padding: 20px 0;
}

/*bigger fonts for bigger screen*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6em;
  }
  h3 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
}