/*formatting for journal script*/

/*this is a fix for white space in right side*/
html, body {
  overflow-x: hidden;
}

/*formatting for journal script*/
h1 {
  padding: 30px 0px 30px;
  font-family: "HomemadeApple";
  font-size: 2em;
}

h3 {
  font-family: "HomemadeApple";
  font-size: 1em;
}

p {
  font-family: "HomemadeApple";
  font-size: 1em;
  padding: 20px 0;
}

/*bigger fonts for bigger screen*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
}