<!-- HTML Code for Footer -->
<footer>
	<p>Credits: amtrak.com (SVG Map) wikipedia.org (Province Descriptions)</p>

	<figure>
		<a href="https://www.facebook.com/emmanlalakbay" target="_blank" >
			<img src="images/facebook.svg" target="_blank" alt="facebook">
		</a>
		<a href="https://www.instagram.com/emmanlalakbay" target="_blank" >
			<img src="images/instagram.png" alt="instagram">
		</a>
		<a href="https://twitter.com/emmanlalakbay" target="_blank" >
			<img src="images/twitter.svg" target="_blank" alt="twitter">
		</a>
	</figure>   
</footer>