<!-- HTML Code for Footer -->
<footer class="container-fluid">
	<div class="icons-footer">
		<a href="https://www.facebook.com/emmanlalakbay" target="_blank" >
			<span class="social_network_icon social_facebook_circle"></span>
		</a>
		<a href="https://www.instagram.com/emmanlalakbay" target="_blank" >
			<span class="social_network_icon social_instagram_circle"></span>
		</a>
		<a href="https://www.twitter.com/emmanlalakbay" target="_blank" >
			<span class="social_network_icon social_twitter_circle"></span>
		</a>
	</div>

	<div class="text-footer">
		<ul>
			<li> © emmanlalakbay ALL RIGHTS RESERVED 2017 </li>
			<li> © SVG Map by AMCHARTS.COM </li>
			<li> © Icon fonts by ELEGANTTHEMES.COM </li>
		</ul>
	</div>

</footer>

