<!-- HTML Code for Header -->
<header class="container-fluid">  
  <nav class="navbar navbar-default row">
    <div class="container">
    <!-- style="padding: 0" -->
      <div class="navbar-header">
          <button type="button" 
                  class="navbar-toggle" 
                  data-toggle="collapse" 
                  data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">
            emmanlalakbay
          </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Gallery
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="g-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Itinerary
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="i-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Journal
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="j-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li>
                <a href="about.php">About</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" 
                 data-toggle="dropdown" 
                 href="#"> 
                Regions
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    ARMM (Muslim Mindanao)
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-basilan.php">Basilan</a></li>
                    <li><a href="p-lanao-del-sur.php">Lanao del Sur</a></li>
                    <li><a href="p-maguindanao.php">Maguindanao</a></li>
                    <li><a href="p-sulu.php">Sulu</a></li>
                    <li><a href="p-tawi-tawi.php">Tawi-Tawi</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    CAR (Cordillera)
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-abra.php">Abra</a></li>
                    <li><a href="p-apayao.php">Apayao</a></li>
                    <li><a href="p-benguet.php">Benguet</a></li>
                    <li><a href="p-ifugao.php">Ifugao</a></li>
                    <li><a href="p-kalinga.php">Kalinga</a></li>
                    <li><a href="p-mountain-province.php">Mountain Province</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">
                    <span class="caret"></span>
                    National Capital Region
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-metropolitan-manila.php">Metropolitan Manila</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    Negros Island Region
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-negros-occidental.php">Negros Occidental</a></li>
                    <li><a href="p-negros-oriental.php">Negros Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    (Region I) Ilocos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-ilocos-norte.php">Ilocos Norte</a></li>
                    <li><a href="p-ilocos-sur.php">Ilocos Sur</a></li>
                    <li><a href="p-la-union.php">La Union</a></li>
                    <li><a href="p-pangasinan.php">Pangasinan</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region II) Cagayan Valley
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-batanes.php">Batanes</a></li>
                    <li><a href="p-cagayan.php">Cagayan</a></li>
                    <li><a href="p-isabela.php">Isabela</a></li>
                    <li><a href="p-nueva-vizcaya.php">Nueva Vizcaya</a></li>
                    <li><a href="p-quirino">Quirino</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region III) Central Luzon
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-aurora.php">Aurora</a></li>
                    <li><a href="p-bataan.php">Bataan</a></li>
                    <li><a href="p-bulacan.php">Bulacan</a></li>
                    <li><a href="p-nueva-ecija.php">Nueva Ecija</a></li>
                    <li><a href="p-pampanga.php">Pampanga</a></li>
                    <li><a href="p-tarlac.php">Tarlac</a></li>
                    <li><a href="p-zambales.php">Zambales</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IVA) Calabarzon
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-batangas.php">Batangas</a></li>
                    <li><a href="p-cavite.php">Cavite</a></li>
                    <li><a href="p-laguna.php">Laguna</a></li>
                    <li><a href="p-quezon.php">Quezon</a></li>
                    <li><a href="p-rizal.php">Rizal</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IVB) Mimaropa
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-marinduque.php">Marinduque</a></li>
                    <li><a href="p-mindoro-occidental.php">Mindoro Occidental</a></li>
                    <li><a href="p-mindoro-oriental.php">Mindoro Oriental</a></li>
                    <li><a href="p-palawan.php">Palawan</a></li>
                    <li><a href="p-romblon.php">Romblon</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region V) Bicol
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-albay.php">Albay</a></li>
                    <li><a href="p-camarines-norte.php">Camarines Norte</a></li>
                    <li><a href="p-camarines-sur.php">Camarines Sur</a></li>
                    <li><a href="p-catanduanes.php">Catanduanes</a></li>
                    <li><a href="p-masbate.php">Masbate</a></li>
                    <li><a href="p-sorsogon.php">Sorsogon</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VI) Western Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-aklan.php">Aklan</a></li>
                    <li><a href="p-antique.php">Antique</a></li>
                    <li><a href="p-capiz.php">Capiz</a></li>
                    <li><a href="p-guimaras.php">Guimaras</a></li>
                    <li><a href="p-iloilo.php">Iloilo</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VII) Central Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-bohol.php">Bohol</a></li>
                    <li><a href="p-cebu.php">Cebu</a></li>
                    <li><a href="p-siquijor.php">Siquijor</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VIII) Eastern Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-biliran.php">Biliran</a></li>
                    <li><a href="p-eastern-samar.php">Eastern Samar</a></li>
                    <li><a href="p-leyte.php">Leyte</a></li>
                    <li><a href="p-northern-samar.php">Northern Samar</a></li>
                    <li><a href="p-samar.php">Samar</a></li>
                    <li><a href="p-southern-leyte.php">Southern Leyte</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IX) Zamboanga Peninsula
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-zamboanga-del-norte.php">Zamboanga del Norte</a></li>
                    <li><a href="p-zamboanga-sibugay.php">Zamboanga Sibugay</a></li>
                    <li><a href="p-zamboanga-del-sur.php">Zamboanga del Sur</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region X) Northern Mindanao
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-bukidnon.php">Bukidnon</a></li>
                    <li><a href="p-camiguin.php">Camiguin</a></li>
                    <li><a href="p-lanao-del-norte.php">Lanao del Norte</a></li>
                    <li><a href="p-misamis-occidental.php">Misamis Occidental</a></li>
                    <li><a href="p-misamis-oriental.php">Misamis Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XI) Davao
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-compostela-valley.php">Compostela Valley</a></li>
                    <li><a href="p-davao-del-norte.php">Davao del Norte</a></li>
                    <li><a href="p-davao-del-sur.php">Davao del Sur</a></li>
                    <li><a href="p-davao-oriental.php">Davao Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XII) Soccskargen
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-cotabato.php">Cotabato</a></li>
                    <li><a href="p-sarangani.php">Sarangani</a></li>
                    <li><a href="p-south-cotabato.php">South Cotabato</a></li>
                    <li><a href="p-sultan-kudarat.php">Sultan Kudarat</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XIII) Caraga
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-agusan-del-norte.php">Agusan del Norte</a></li>
                    <li><a href="p-agusan-del-sur.php">Agusan del Sur</a></li>
                    <li><a href="p-dinagat-islands.php">Dinagat Islands</a></li>
                    <li><a href="p-surigao-del-norte.php">Surigao del Norte</a></li>
                    <li><a href="p-surigao-del-sur.php">Surigao del Sur</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>     
      </div>
  </nav>
</header>