<!-- HTML Code for Header -->
<header class="container-fluid">  
  <nav class="navbar navbar-default row">
    <div class="container">
    <!-- style="padding: 0" -->
      <div class="navbar-header">
          <button type="button" 
                  class="navbar-toggle" 
                  data-toggle="collapse" 
                  data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">
          emmanlalakbay
          </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"> -->
            <li>
              <a href="index.php">Home</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Journal
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="j-batangas.html">Batangas</a></li>
                  <li><a href="j-cebu.html">Cebu</a></li>
                  <li><a href="j-leyte.html">Leyte</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Itinerary
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="i-batangas.html">Batangas</a></li>
                  <li><a href="i-cebu.html">Cebu</a></li>
                  <li><a href="i-leyte.html">Leyte</a></li>
              </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a
            </li>
          </ul>
        </div>     
      </div>
  </nav>
</header>