<!-- HTML Code for Header -->
<header class="container-fluid">  
  <nav class="navbar navbar-default row">
    <div class="container">
    <!-- style="padding: 0" -->
      <div class="navbar-header">
          <button type="button" 
                  class="navbar-toggle" 
                  data-toggle="collapse" 
                  data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">
            emmanlalakbay
          </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Gallery
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="g-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Itinerary
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="i-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" 
                   data-toggle="dropdown" 
                   href="#"> 
                  Journal
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                  <li><a href="j-benguet.php">Mt Pulag, Benguet</a></li>
              </ul>
            </li>
            <li>
                <a href="about.php">About</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" 
                 data-toggle="dropdown" 
                 href="#"> 
                Regions
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    ARMM (Muslim Mindanao)
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Basilan.php">Basilan</a></li>
                    <li><a href="p-Lanao-del-Sur.php">Lanao del Sur</a></li>
                    <li><a href="p-Maguindanao.php">Maguindanao</a></li>
                    <li><a href="p-Sulu.php">Sulu</a></li>
                    <li><a href="p-Tawi-Tawi.php">Tawi-Tawi</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    CAR (Cordillera)
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Abra.php">Abra</a></li>
                    <li><a href="p-Apayao.php">Apayao</a></li>
                    <li><a href="p-Benguet.php">Benguet</a></li>
                    <li><a href="p-Ifugao.php">Ifugao</a></li>
                    <li><a href="p-Kalinga.php">Kalinga</a></li>
                    <li><a href="p-Mountain-Province.php">Mountain Province</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">
                    <span class="caret"></span>
                    National Capital Region
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Metropolitan-Manila.php">Metropolitan Manila</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    Negros Island Region
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Negros-Occidental.php">Negros Occidental</a></li>
                    <li><a href="p-Negros-Oriental.php">Negros Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#"> 
                    <span class="caret"></span>
                    (Region I) Ilocos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Ilocos-Norte.php">Ilocos Norte</a></li>
                    <li><a href="p-Ilocos-Sur.php">Ilocos Sur</a></li>
                    <li><a href="p-La-Union.php">La Union</a></li>
                    <li><a href="p-Pangasinan.php">Pangasinan</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region II) Cagayan Valley
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Batanes.php">Batanes</a></li>
                    <li><a href="p-Cagayan.php">Cagayan</a></li>
                    <li><a href="p-Isabela.php">Isabela</a></li>
                    <li><a href="p-Nueva-Vizcaya.php">Nueva Vizcaya</a></li>
                    <li><a href="p-Quirino">Quirino</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region III) Central Luzon
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Aurora.php">Aurora</a></li>
                    <li><a href="p-Bataan.php">Bataan</a></li>
                    <li><a href="p-Bulacan.php">Bulacan</a></li>
                    <li><a href="p-Nueva-Ecija.php">Nueva Ecija</a></li>
                    <li><a href="p-Pampanga.php">Pampanga</a></li>
                    <li><a href="p-Tarlac.php">Tarlac</a></li>
                    <li><a href="p-Zambales.php">Zambales</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IVA) Calabarzon
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Batangas.php">Batangas</a></li>
                    <li><a href="p-Cavite.php">Cavite</a></li>
                    <li><a href="p-Laguna.php">Laguna</a></li>
                    <li><a href="p-Quezon.php">Quezon</a></li>
                    <li><a href="p-Rizal.php">Rizal</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IVB) Mimaropa
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Marinduque.php">Marinduque</a></li>
                    <li><a href="p-Mindoro-Occidental.php">Mindoro Occidental</a></li>
                    <li><a href="p-Mindoro-Oriental.php">Mindoro Oriental</a></li>
                    <li><a href="p-Palawan.php">Palawan</a></li>
                    <li><a href="p-Romblon.php">Romblon</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region V) Bicol
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Albay.php">Albay</a></li>
                    <li><a href="p-Camarines-Norte.php">Camarines Norte</a></li>
                    <li><a href="p-Camarines-Sur.php">Camarines Sur</a></li>
                    <li><a href="p-Catanduanes.php">Catanduanes</a></li>
                    <li><a href="p-Masbate.php">Masbate</a></li>
                    <li><a href="p-Sorsogon.php">Sorsogon</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VI) Western Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Aklan.php">Aklan</a></li>
                    <li><a href="p-Antique.php">Antique</a></li>
                    <li><a href="p-Capiz.php">Capiz</a></li>
                    <li><a href="p-Guimaras.php">Guimaras</a></li>
                    <li><a href="p-Iloilo.php">Iloilo</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VII) Central Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Bohol.php">Bohol</a></li>
                    <li><a href="p-Cebu.php">Cebu</a></li>
                    <li><a href="p-Siquijor.php">Siquijor</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region VIII) Eastern Visayas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Biliran.php">Biliran</a></li>
                    <li><a href="p-Eastern-Samar.php">Eastern Samar</a></li>
                    <li><a href="p-Leyte.php">Leyte</a></li>
                    <li><a href="p-Northern-Samar.php">Northern Samar</a></li>
                    <li><a href="p-Samar.php">Samar</a></li>
                    <li><a href="p-Southern-Leyte.php">Southern Leyte</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region IX) Zamboanga Peninsula
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Zamboanga-del-Norte.php">Zamboanga del Norte</a></li>
                    <li><a href="p-Zamboanga-Sibugay.php">Zamboanga Sibugay</a></li>
                    <li><a href="p-Zamboanga-del-Sur.php">Zamboanga del Sur</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region X) Northern Mindanao
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Bukidnon.php">Bukidnon</a></li>
                    <li><a href="p-Camiguin.php">Camiguin</a></li>
                    <li><a href="p-Lanao-del-Norte.php">Lanao del Norte</a></li>
                    <li><a href="p-Misamis-Occidental.php">Misamis Occidental</a></li>
                    <li><a href="p-Misamis-Oriental.php">Misamis Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XI) Davao
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Compostela-Valley.php">Compostela Valley</a></li>
                    <li><a href="p-Davao-del-Norte.php">Davao del Norte</a></li>
                    <li><a href="p-Davao-del-Sur.php">Davao del Sur</a></li>
                    <li><a href="p-Davao-Oriental.php">Davao Oriental</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XII) Soccskargen
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Cotabato.php">Cotabato</a></li>
                    <li><a href="p-Sarangani.php">Sarangani</a></li>
                    <li><a href="p-South-Cotabato.php">South Cotabato</a></li>
                    <li><a href="p-Sultan-Kudarat.php">Sultan Kudarat</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropregion" href="#">                    
                    <span class="caret"></span>
                    (Region XIII) Caraga
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="p-Agusan-del-Norte.php">Agusan del Norte</a></li>
                    <li><a href="p-Agusan-del-Sur.php">Agusan del Sur</a></li>
                    <li><a href="p-Dinagat-Islands.php">Dinagat Islands</a></li>
                    <li><a href="p-Surigao-del-Norte.php">Surigao del Norte</a></li>
                    <li><a href="p-Surigao-del-Sur.php">Surigao del Sur</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>     
      </div>
  </nav>
</header>

